---
---

@import "minima";

/* Custom Styles for CTA Button */
.cta-button {
    display: inline-block;
    background-color: #f57c00; /* PlayCanvas orange */
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e65100; /* Darker orange for hover effect */
    color: #ffffff;
}
